package components

import "github.com/fr0stylo/ddash/views/base"

templ HomeHeader() {
	@base.AppHeader("Services", "Track service deployments across environments.")
}

templ HomeFooter() {
	<div class="mt-6 text-xs text-gray-400">
		DDash © 2026
	</div>
}
